{% extends "base.html" %}

{% block content %}
<form class="form-horizontal" action="{% url staff_create %}" enctype="multipart/form-data" method="post">
  <fieldset>
    <legend>Create Staff Account</legend>

    <p>Enter the basic details about the user account you would like to create.</p>

    {% include "_form.html" %}
    {% csrf_token %}
    <div class="form-actions">
      <input class="btn btn-primary" type="submit" value="Create" />
    </div>
  </fieldset>
</form>

{% endblock content %}
