{% extends "fragment.html" %}

{% block content %}
<table class="index table table-striped table-condensed">
  <tr>
    <th>Time</th>
    <th>ID</th>
    <th>Customer</th>
    <th>Action</th>
    <th>Item</th>
    <th>Signed off</th>
  </tr>
  {% for t in transactions %}
  <tr>
    <td class='time' data-time="{{t.date|date:"U"}}">{{t.date|timesince}} ago</td>
    <td><a href="/transaction/{{t.pk}}">{{t.id}}</a></td>
    <td><a href="/customer/{{t.customer.pk}}">{{t.customer}}</a></td>
    <td>{{t.get_action_display}}</td>
    <td><a href="/item/{{t.item.pk}}">{{t.item}}</a></td>
    <td><a href="/staff/{{t.signoff.pk}}">{{t.signoff}}</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
